
body {
  background: #FFB983;
  font-size: 25px;
  color: black;

}

button {
  background-color: #29DFFF;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

button:hover {
  background-color: #0CB2EC;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}

.bottombar{
  /* text-decoration: underline; */
  color: #008BFF;
  margin-right: 10px;
  font-weight: bold;
}


.sidebyside {
  float: left;
  width: 48%;
  height: 48%;
  padding: 5px;
}

.caption{
  font-size: 12px;
}
