
body {
  background: #FAE8AE;
  font-size: 25px;
  color: #606CB3;

}

button {
  background-color: #BDC6FC;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 8px;

  margin-top: 15px;

}

button:hover {
  background-color: #606CB3;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}

.bottombar{
  /* text-decoration: underline; */
  color: #008BFF;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}


.sidebyside {
  float: left;
  width: 48%;
  height: 48%;
  padding: 5px;
}


.caption{
  font-size: 12px;
}

.face2button{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}

.image{
  width: 100%;
}

#grey{
  color: grey;
  pointer-events: none;
}

#grey{
  color: grey;
  pointer-events: none;
}
