<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> About </title>
        <link rel="stylesheet" href="../static/stylesheet1.css"/>
    </head>
    <body >
	<p> A canndidate like you is a machine learning project aimed at matching you with the candidate that is most like you. Whether that is based on how you look or how you think.<p>
	<p> Created by Adiel Felsen, Brendan Klayman, Nick Pellegrino, and Richard Quinlivan<p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="navbar">
        <a href="Home.html" class = "bottombar">Home</a>
        <a href="about.html" class = "bottombar" id = "grey"> About</a>
    </div>
    </body>
</html>
