<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Amy Klobuchar!</div>
	<br>
		<img src = "../static/Amy Klobuchar.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Amy Klobuchar's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Some abortion limits</div>
		<br>
		<div id = "Information3">Corporate Power: Raise corporate taxes</div>
		<br>
		<div id = "Information4">Prison: Abolish the death penalty</div>
		<br>
		<div id = "Information5">Education: Two years of free college</div>
		<br>
		<div id = "Information6">Environment: Support nuclear power</div>
		<br>
		<div id = "Information9">Gun Laws: Assault weapons ban</div>
		<br>
		<div id = "Information10">Health Care: Opposes medicare for all, but would expand coverage</div>
		<br>
		<div id = "Information11">Military: Slash the defense budget</div>
		<br>
		<div id = "Information12">National Debt: Increase overall taxes and increase support programs</div>
		<br>
		<div id = "Information14">Border Security: Back additional wall funding</div>
		<br>
		<div id = "Information15">Taxes: Raise corporate taxes</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
