<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Andrew Yang!</div>
	<br>
		<img src = "../static/Andrew Yang.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Andrew Yang's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Few limits, if any</div>
		<br>
		<div id = "Information3">Corporate Power: Create taxes on financial trades</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: No free college and cancel some student debt</div>
		<br>
		<div id = "Information6">Environment: Tax carbon emmisions</div>
		<br>
		<div id = "Information9">Gun Laws: Universal background checks</div>
		<br>
		<div id = "Information10">Health Care: Against medicare for all, but would expand coverage</div>
		<br>
		<div id = "Information11">Military: Slash the defense budget</div>
		<br>
		<div id = "Information12">National Debt: Create new taxes and create few new programs</div>
		<br>
		<div id = "Information14">Border Security: Back wall funding if reccomended by experts</div>
		<br>
		<div id = "Information15">Taxes: Increase capital gains tax rate</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
