<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Bernie Sanders!</div>
	<br>
		<img src = "../static/Bernie Sanders.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Bernie Sanders's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Few limits, if any</div>
		<br>
		<div id = "Information3">Corporate Power: Create special taxes on wealth</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: Free college and cancel all student debt</div>
		<br>
		<div id = "Information6">Environment: Ban fracking everywhere</div>
		<br>
		<div id = "Information7">Government Size: Increase the government's scope</div>
		<br>
		<div id = "Information9">Gun Laws: Voluntary buyback programs</div>
		<br>
		<div id = "Information10">Health Care: Medicare for all</div>
		<br>
		<div id = "Information11">Military: Slash the defense budget</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes and create more social programs</div>
		<br>
		<div id = "Information14">Border Security: Do not support additional wall funding</div>
		<br>
		<div id = "Information15">Taxes: Raise taxes on the wealthy</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
