<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Cory Booker!</div>
	<br>
		<img src = "../static/Cory Booker.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Cory Booker's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Few limits, if any</div>
		<br>
		<div id = "Information3">Corporate Power: Raise taxes on the wealthy</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: Expand or fix debt-relief programs</div>
		<br>
		<div id = "Information6">Environment: Support nuclear power</div>
		<br>
		<div id = "Information7">Government Size: Create some new social programs</div>
		<br>
		<div id = "Information9">Gun Laws: Mandatory buyback programs</div>
		<br>
		<div id = "Information10">Health Care: Medicare for all, but would accept medicare for some</div>
		<br>
		<div id = "Information11">Military: Boost the defense budget</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes and create some new social programs</div>
		<br>
		<div id = "Information14">Border Security: Tear down parts of the wall</div>
		<br>
		<div id = "Information15">Taxes: Increase the capital tax rate</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
