<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Deval Patrick!</div>
	<br>
		<img src = "../static/Deval Patrick.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Deval Patrick's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Few limits, if any</div>
		<br>
		<div id = "Information3">Corporate Power: Create some new social programs</div>
		<br>
		<div id = "Information4">Prison: Focus on rehabilitation</div>
		<br>
		<div id = "Information5">Education: Restrict charter schools</div>
		<br>
		<div id = "Information6">Environment: Support alternative energy</div>
		<br>
		<div id = "Information9">Gun Laws: Ban assault weapons</div>
		<br>
		<div id = "Information10">Health Care: Expand health care coverage</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
