<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Donald Trump!</div>
	<br>
		<img src = "../static/Donald Trump.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Donald Trump's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: End funding abroad</div>
		<br>
		<div id = "Information3">Corporate Power: Reduce taxes on the wealthy</div>
		<br>
		<div id = "Information4">Prison: Support death penalty</div>
		<br>
		<div id = "Information5">Education: No free college</div>
		<br>
		<div id = "Information6">Environment: Support oil and gas</div>
		<br>
		<div id = "Information7">Government Size: Less funding for social programs</div>
		<br>
		<div id = "Information9">Gun Laws: End gun-free zones</div>
		<br>
		<div id = "Information10">Health Care: End pre-existing conditions protection</div>
		<br>
		<div id = "Information11">Military: Boost militart budget</div>
		<br>
		<div id = "Information12">National Debt: Lower taxes and less social programs</div>
		<br>
		<div id = "Information13">Nationalism: America first</div>
		<br>
		<div id = "Information14">Border Security: Support wall funding</div>
		<br>
		<div id = "Information15">Taxes: General lower taxes</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
