<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Elizabeth Warren!</div>
	<br>
		<img src = "../static/Elizabeth Warren.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Elizabeth Warren's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Few limits, if any</div>
		<br>
		<div id = "Information3">Corporate Power: Raise taxes on corporations</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: Free college and cancel some student debt</div>
		<br>
		<div id = "Information6">Environment: Ban fracking everywhere</div>
		<br>
		<div id = "Information7">Government Size: Increase the scope of the government</div>
		<br>
		<div id = "Information9">Gun Laws: Ban assault weapons</div>
		<br>
		<div id = "Information10">Health Care: Medicare for all</div>
		<br>
		<div id = "Information11">Military: Slash defense budget</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes and create social programs</div>
		<br>
		<div id = "Information14">Border Security: No additional wall funding</div>
		<br>
		<div id = "Information15">Taxes: Increase the capital tax rate</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
