<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
	<center>
		<img src = "../static/opencv_frame.png" alt="Your Picture!" class = "image">
	<br>
		<a href= "face3.html"><button type="button" class = "face2button">Submit</button></a>
		<a href= "face.html" class = "face2button"><button type="button">Retake</button></a>
		<a href = "Home.html" class = "face2button"><button type="button">Return to Home</button></a>
	</center>

	</body>
</html>
