<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>face3</title>
        <link rel="stylesheet" href="../static/stylesheet1.css"/>
    </head>
    <body >

      <center>
  		<div id = "Looklike">You look like {{name}}!</div>
  <br>
  <div class="images">
      <div class = "sidebyside">
          <img src = "../static/saliency_opencv_frame.png" alt="Your Picture!" style="width:100%">
          <p class = "caption"> Your Saliency Map <p>
      </div>
      <div class = "sidebyside" id = "leftimg">
          <img src = "{{path}}" alt="Your Picture!" style="width:100%">
          <p class = "caption"> Your Match: {{name}} <p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  <div id = face3buttons>
    <a href = "face.html" ><button type="button"> Retake your picture</button></a>
    <a href = "Home.html" ><button type="button">Return to Home</button></a>
  <div>




 </body>
</html>
