<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> A Candidate Like You </title>
    </head>
    <body >

    <h1> A Candidate Like You <h1>

        <a href = "question1.html" ><button type="button">  Find your most like-minded candidate</button></a>

        <a href = "face.html" ><button type="button">  Find your most look-alike candidate</button></a>

    <div class="navbar">
        <a href="Home.html" class = "active">Home</a>
        <a href="about.html" >About</a>
    </div>
    </body>
</html>
