<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> A Candidate Like You </title>
        <link rel="stylesheet" href="../static/stylesheet1.css"/>
    </head>
    <body >

    <center>
    <h1> A Candidate Like You <h1>

     <img src="../static/American Flag.gif" /> </center>

        <a href = "question1.html" ><button type="button">  Find your most like-minded candidate</button></a>
        <a href = "face.html" ><button type="button">  Find your most look-alike candidate</button></a>



    <div class="navbar">
        <a href="Home.html" class = "bottombar" id = "grey">Home</a>
        <a href="about.html" class = "bottombar">About</a>
    </div>
    </body>
</html>
