<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Joe Biden!</div>
	<br>
		<img src = "../static/Joe Biden.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Joe Biden's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Some limits</div>
		<br>
		<div id = "Information3">Corporate Power: Raise corporate taxes</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: Two years of free college</div>
		<br>
		<div id = "Information6">Environment: Support developing new nuclear technologies</div>
		<br>
		<div id = "Information7">Government Size: Create some soaicl programs</div>
		<br>
		<div id = "Information9">Gun Laws: Universal background checks</div>
		<br>
		<div id = "Information10">Health Care: Oppose medicare for all, but would expand coverage</div>
		<br>
		<div id = "Information11">Military: Boost defense budget</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes and create some new social programs</div>
		<br>
		<div id = "Information14">Border Security: Leave illegal entry statute in place</div>
		<br>
		<div id = "Information15">Taxes: Increase the capital tax rate</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
