<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Joe Walsh!</div>
	<br>
		<img src = "../static/Joe Walsh.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Joe Walsh's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Opposes abortion</div>
		<br>
		<div id = "Information3">Corporate Power: Reverse trade war and promote free trade</div>
		<br>
		<div id = "Information6">Environment: Aknowledges global warming</div>
		<br>
		<div id = "Information10">Health Care: Replace the affordable care act</div>
		<br>
		<div id = "Information11">Military: Bring troops home from Afghanistan</div>
		<br>
		<div id = "Information12">National Debt: Lower taxes and undefined social programs</div>
		<br>
		<div id = "Information14">Border Security: Support wall funding</div>
		<br>
		<div id = "Information15">Taxes: Lower taxes</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
