<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Kamala Harris!</div>
	<br>
		<img src = "../static/Kamala Harris.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Kamala Harris's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Few limits, if any</div>
		<br>
		<div id = "Information3">Corporate Power: Increase taxes on financial institutions</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: Expand or fix debt-relief programs</div>
		<br>
		<div id = "Information7">Government Size: Create some social programs</div>
		<br>
		<div id = "Information9">Gun Laws: Ban assault weapons</div>
		<br>
		<div id = "Information10">Health Care: Against medicare for all, but would expand coverage</div>
		<br>
		<div id = "Information11">Military: Slash the defense budget</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes and create some social programs</div>
		<br>
		<div id = "Information14">Border Security: No additional wall funding</div>
		<br>
		<div id = "Information15">Taxes: Reverse the 2017 tax cuts</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
