<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Marianne Williamson!</div>
	<br>
		<img src = "../static/Marianne Williamson.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Marianne Williamson's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Some limits</div>
		<br>
		<div id = "Information3">Corporate Power: Reverse the corporate tax cuts</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: Free college</div>
		<br>
		<div id = "Information6">Environment: Support closing down nuclear reactors</div>
		<br>
		<div id = "Information7">Government Size: Create social programs</div>
		<br>
		<div id = "Information9">Gun Laws: Ban assault weapons</div>
		<br>
		<div id = "Information10">Health Care: Medicare for all, but would take medicare for some</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes and create social programs</div>
		<br>
		<div id = "Information13">Nationalism: </div>
		<br>
		<div id = "Information14">Border Security: No additional wall funding</div>
		<br>
		<div id = "Information15">Taxes: Create taxes on financial trades</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
