<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Mark Sanford!</div>
	<br>
		<img src = "../static/Mark Sanford.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Mark Sanford's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: </div>
		<br>
		<div id = "Information3">Corporate Power: </div>
		<br>
		<div id = "Information4">Prison: </div>
		<br>
		<div id = "Information5">Education: </div>
		<br>
		<div id = "Information6">Environment: </div>
		<br>
		<div id = "Information7">Government Size: </div>
		<br>
		<div id = "Information9">Gun Laws: </div>
		<br>
		<div id = "Information10">Health Care: </div>
		<br>
		<div id = "Information11">Military: </div>
		<br>
		<div id = "Information12">National Debt: </div>
		<br>
		<div id = "Information13">Nationalism: </div>
		<br>
		<div id = "Information14">Border Security: </div>
		<br>
		<div id = "Information15">Taxes: </div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
