<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Mark Sanford!</div>
	<br>
		<img src = "../static/Mark Sanford.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Mark Sanford's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Against abortion</div>
		<br>
		<div id = "Information3">Corporate Power: Avoid government intervention</div>
		<br>
		<div id = "Information6">Environment: Aknowledge global warming, but avoid international agreements</div>
		<br>
		<div id = "Information7">Government Size: Less government involvement in citizens' lives</div>
		<br>
		<div id = "Information10">Health Care: Replace the affordable care act with private insurance</div>
		<br>
		<div id = "Information12">National Debt: Cut social program spending</div>
		<br>
		<div id = "Information14">Border Security: Support more wall funding</div>
		<br>
		<div id = "Information15">Taxes: Less corporate taxes</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
