<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Michael Bloomberg!</div>
	<br>
		<img src = "../static/Michael Bloomberg.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Michael Bloomberg's Policies:</b></div>
		<br>
		<div id = "Information3">Corporate Power: Create taxes on wealth</div>
		<br>
		<div id = "Information4">Prison: Reform or reduce cash bail reform</div>
		<br>
		<div id = "Information5">Education: Support charter schools</div>
		<br>
		<div id = "Information7">Government Size: Increase taxes and create some social programs</div>
		<br>
		<div id = "Information9">Gun Laws: Ban assault weapons</div>
		<br>
		<div id = "Information10">Health Care: Against medicare for all, but would expand coverage</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes overall</div>
		<br>
		<div id = "Information15">Taxes: Increase the capital gains tax rate</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
