<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Pete Buttigieg!</div>
	<br>
		<img src = "../static/Pete Buttigieg.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Pete Buttigieg's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Few limits, if any</div>
		<br>
		<div id = "Information3">Corporate Power: Reverse the 2017 tax cuts</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: Cancel some student debt</div>
		<br>
		<div id = "Information6">Environment: Tax carbon emmisions</div>
		<br>
		<div id = "Information7">Government Size: Create some social programs</div>
		<br>
		<div id = "Information9">Gun Laws: Universal background checks</div>
		<br>
		<div id = "Information10">Health Care: Against medicare for all, but would expand coverage</div>
		<br>
		<div id = "Information11">Military: Boost the defense budget</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes and create some social programs</div>
		<br>
		<div id = "Information14">Border Security: Repeal the statute on illegal entry</div>
		<br>
		<div id = "Information15">Taxes: Increase existing taxes on the upper-class</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
