<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>question2</title>
	</head>
	<body>
	<center>
		<form action ="/question15" method="POST">
		<fieldset>
			<br>
				<div id = "Prev input 1">ChatBot: {{prevOutput1}}</div>
			<br>
				<div id = "Text input 1">You: {{prevInput1}}</div>
			<br>
				<div id = "Prev input 2">ChatBot: {{prevOutput2}}</div>
			<br>
				<div id = "Text input 2">You: {{prevInput2}}</div>
			<br>
				<div id = "Prev input 3">ChatBot: {{prevOutput3}}</div>
			<br>
				<div id = "Text input 3">You: {{prevInput3}}</div>
			<br>
				<div id = "Prev input 4">ChatBot: {{prevOutput4}}</div>
			<br>
				<div id = "Text input 4">You: {{prevInput4}}</div>
			<br>
				<div id = "Prev input 5">ChatBot: {{prevOutput5}}</div>
			<br>
				<div id = "Text input 5">You: {{prevInput5}}</div>
			<br>
				<div id = "Prev input 6">ChatBot: {{prevOutput6}}</div>
			<br>
				<div id = "Text input 6">You: {{prevInput6}}</div>
			<br>
				<div id = "Prev input 7">ChatBot: {{prevOutput7}}</div>
			<br>
				<div id = "Text input 7">You: {{prevInput7}}</div>
			<br>
				<div id = "Prev input 8">ChatBot: {{prevOutput8}}</div>
			<br>
				<div id = "Text input 8">You: {{prevInput8}}</div>
			<br>
				<div id = "Prev input 9">ChatBot: {{prevOutput9}}</div>
			<br>
				<div id = "Text input 9">You: {{prevInput9}}</div>
			<br>
				<div id = "Prev input 10">ChatBot: {{prevOutput10}}</div>
			<br>
				<div id = "Text input 10">You: {{prevInput10}}</div>
			<br>
				<div id = "Prev input 11">ChatBot: {{prevOutput11}}</div>
			<br>
				<div id = "Text input 11">You: {{prevInput11}}</div>
			<br>
				<div id = "Prev input 12">ChatBot: {{prevOutput12}}</div>
			<br>
				<div id = "Text input 12">You: {{prevInput12}}</div>
			<br>
				<div id = "Prev input 13">ChatBot: {{prevOutput13}}</div>
			<br>
				<div id = "Text input 13">You: {{prevInput13}}</div>
			<br>
				<div id = "Prev input 14">ChatBot: {{prevOutput14}}</div>
			<br>
				<div id = "Text input 14">You: {{prevInput14}}</div>
			<br>
				<div id = "Text input">ChatBot: {{prevOutput15}}</div>
			<br>
				<textarea type = "paragraph_text" cols="50" rows="10" type="text" name="input" value="Type Something"></textarea>
			<br>
				<button type="submit" >Submit</button>
	</center>
	</body>
</html>
