<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>question2</title>
	</head>
	<body>
	<center>
		<form action ="/question13" method="POST">
		<fieldset>
			<br>
				<div id = "Prev input 1">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput1" value="Type Something"> {{prevInput1}} </textarea>
			<br>
			<br>
				<div id = "Prev input 2">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput2" value="Type Something"> {{prevInput2}} </textarea>
			<br>
			<br>
				<div id = "Prev input 3">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput3" value="Type Something"> {{prevInput3}} </textarea>
			<br>
			<br>
			<br>
				<div id = "Prev input 4">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput4" value="Type Something"> {{prevInput4}} </textarea>
			<br>
			<br>
				<div id = "Prev input 5">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput5" value="Type Something"> {{prevInput5}} </textarea>
			<br>
			<br>
				<div id = "Prev input 6">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput6" value="Type Something"> {{prevInput6}} </textarea>
			<br>
			<br>
				<div id = "Prev input 7">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput7" value="Type Something"> {{prevInput7}} </textarea>
			<br>
			<br>
				<div id = "Prev input 8">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput8" value="Type Something"> {{prevInput8}} </textarea>
			<br>
			<br>
				<div id = "Prev input 9">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput9" value="Type Something"> {{prevInput9}} </textarea>
			<br>
			<br>
				<div id = "Prev input 10">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput10" value="Type Something"> {{prevInput10}} </textarea>
			<br>
			<br>
				<div id = "Prev input 11">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput11" value="Type Something"> {{prevInput11}} </textarea>
			<br>
			<br>
				<div id = "Prev input 12">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput12" value="Type Something"> {{prevInput12}} </textarea>
			<br>
				<div id = "Text input">Talk to the chatbot:</div>
				<textarea type = "paragraph_text" cols="50" rows="10" type="text" name="input" value="Type Something"></textarea>
			<br>
				<button type="submit" >Submit</button>
	</center>
	</body>
</html>
