<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>question2</title>
	</head>
	<body>
	<center>
		<form action ="/question3" method="POST">
		<fieldset>
			<br>
				<div id = "Prev input 1">Talk to the chatbot:</div>
			</p> The answer to the previous question </p>
			<br>
			<br>
				<div id = "Prev input 2">Talk to the chatbot:</div>
			</p> The answer to the previous question </p>
			<br>
			<br>
				<div id = "Text input">Talk to the chatbot:</div>
				<textarea type = "paragraph_text" cols="50" rows="10" type="text" name="value" value="Type Something"></textarea>
			<br>
				<button type="submit" >Submit</button>
	</center>
	</body>
</html>
