<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>question2</title>
	</head>
	<body>
	<center>
		<form action ="/question4" method="POST">
		<fieldset>
			<br>
				<div id = "Prev input 1">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput1" value="Type Something"> {{prevInput1}} </textarea>
			<br>
			<br>
				<div id = "Prev input 2">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput2" value="Type Something"> {{prevInput2}} </textarea>
			<br>
			<br>
				<div id = "Prev input 3">Talk to the chatbot:</div>
				<textarea readonly type = "paragraph_text" cols="50" rows="10" type="text" name="pInput3" value="Type Something"> {{prevInput3}} </textarea>
			<br>
			<br>
				<div id = "Text input">Talk to the chatbot:</div>
				<textarea type = "paragraph_text" cols="50" rows="10" type="text" name="input" value="Type Something"></textarea>
			<br>
				<button type="submit" >Submit</button>
	</center>
	</body>
</html>
