<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>question2</title>
	</head>
	<body>
		<form action ="/question2" method="POST">
			<fieldset>
				<!-- <div id = "profileTitle"> Name: </div> -->
				<input type="file" name="pic" value="">
			<br>
			<br>
				<div id = "Text input1">Talk to the chatbot:</div>
				<textarea type = "paragraph_text" cols="50" rows="10" type="text" name="value" value="Type Something"></textarea>
				<button type="submit" >Submit</button>
	</body>
</html>
