<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Tom Steyer!</div>
	<br>
		<img src = "../static/Tom Steyer.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Tom Steyer's Policies:</b></div>
		<br>
		<div id = "Information3">Corporate Power: Create taxes on wealth</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information6">Environment: End new oil and gas leases on federal land</div>
		<br>
		<div id = "Information7">Government Size: Create some social programs</div>
		<br>
		<div id = "Information9">Gun Laws: Universal background checks</div>
		<br>
		<div id = "Information10">Health Care: Against medicare for all, but would expand coverage</div>
		<br>
		<div id = "Information12">National Debt: Increase taxes and create some social programs</div>
		<br>
		<div id = "Information14">Border Security: No additional wall funding</div>
		<br>
		<div id = "Information15">Taxes: Increase taxes on wealth</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
