<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>face2</title>
		<link rel="stylesheet" href="../static/stylesheet1.css"/>
	</head>
	<body>
		<center>
		<div id = "You got">You got Tulsi Gabbard!</div>
	<br>
		<img src = "../static/Tulsi Gabbard.jpeg" alt="Politician you look like!">
	<br>
	<br>
		<div id = "Information1"><b>Tulsi Gabbard's Policies:</b></div>
		<br>
		<div id = "Information2">Abortion: Few limits, if any</div>
		<br>
		<div id = "Information3">Corporate Power: Break up monopolies</div>
		<br>
		<div id = "Information4">Prison: Eliminate private prisons</div>
		<br>
		<div id = "Information5">Education: Free college</div>
		<br>
		<div id = "Information6">Environment: Support closing existing nuclear reactors</div>
		<br>
		<div id = "Information7">Government Size: Create social programs</div>
		<br>
		<div id = "Information9">Gun Laws: Ban assault weapons</div>
		<br>
		<div id = "Information10">Health Care: Medicare for all, but would accept medicare for some</div>
		<br>
		<div id = "Information11">Military: Slash the defense budget</div>
		<br>
		<div id = "Information14">Border Security: Citizenship for dreamers</div>
		<br>
		<div id = "Information15">Taxes: Eliminate tax breaks for offshoring</div>
		<br>
		<br>
		<a href = "Home.html" ><button type="button">Return to Home</button></a>
	</center>
	</body>
</html>
